---
import IconPaperAirplane from "~/assets/images/icons/paper-airplane.svg";
---

<h2 class="h4">Stil et spørgsmål</h2>
<p>
	Interesseret i denne bil? Udfyld formularen herunder med dine spørgsmål, så vender vi tilbage hurtigst muligt.
</p>
<form name="inquire" data-netlify="true" netlify-honeypot="company-website">
	<input type="hidden" name="form-name" value="inquire" />
	<p class="hidden" aria-hidden="true">
		<label>Udfyld ikke dette felt: <input name="company-website" tabindex="-1" autocomplete="off" /></label>
	</p>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
		<div>
			<label for="inquire-name">Navn</label>
			<input type="text" id="inquire-name" name="name" required />
		</div>
		<div>
			<label for="inquire-email">E-mail</label>
			<input type="email" id="inquire-email" name="email" required />
		</div>
		<div class="lg:col-span-2">
			<label for="inquire-message">Besked</label>
			<textarea id="inquire-message" name="message" rows="4"></textarea>
		</div>
	</div>
	<div class="mt-8">
		<button type="submit" class="button button-yellow gap-1">
			<IconPaperAirplane class="size-5 inline-block -mt-1 -rotate-45" />
			<span class="text-lg">Send</span>
		</button>
	</div>
</form>
