---
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";
---

<form id="form-sort">
	<div class="lg:shrink-0">
		<div class="flex items-center gap-x-2">
			<label class="sr-only" for="sort">Sortér</label>
		</div>
		<div class="grid grid-cols-1 max-lg:w-max ml-auto">
			<select
				name="sort"
				id="sort"
				class="appearance-none max-lg:mt-0 col-start-1 bg-transparent max-lg:outline-none outline-gray-300 row-start-1 pr-10"
			>
				<option value="all">Sortér efter</option>
				<option value="mileage-desc">Km: Højest først</option>
				<option value="mileage-asc">Km: Lavest først</option>
				<option value="price-desc">Pris: Højest først</option>
				<option value="price-asc">Pris: Lavest først</option>
				<option value="year-desc">Årgang: Nyeste først</option>
				<option value="year-asc">Årgang: Ældste først</option>
			</select>
			<IconChevronDown class="icon-chevron-down" />
		</div>
	</div>
</form>
